@font-face {
font-family: Universal;
    src: url(../fonts/Universal\ Serif.ttf)
}

@font-face {
font-family: Louis;
    src: url(../fonts/Louis\ George\ Cafe.ttf)
}

.header-color {
    color: black;
}

.navbar-style {
    background-color: #006633;
    font-family: Universal;
}

body {
    font-family: Louis;
}

#index-jumbotron {
    background-image: url("../images/Untitled\ drawing\ \(70\).png");
}

.jumbotron-text {
    color: white;
}

#logo {
    max-width: 40%;
    height: auto;
}

.emu-text {
    font-size: 10vw;
}

.image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.profile-pic {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-left: -65%;
    margin-top: -10%;
    height: 150%;
    width: auto;
}

.supporter-pic {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#australia-picture {
    max-width: 100%;
    height: auto;
}

#dj-picture {
    max-width: 100%;
    height: auto;
}

.sponsors-text {
    font-size: 30px;
}

#contact-us {
    margin: auto;
    font-size: 30px;
}
